* {
    padding: 0;
    margin: 0;
}
html, body{ height: 100%; }
.navbar{
    color: black;
}
.bge { background: #eee; }
.navbar .navbar-brand{
    color : #FFF;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav{
    margin : 0 auto;
}

@media only screen and (max-width: 999px){
  .logo-hydroshare{
      width: 150px;
      height: auto;
  }
  .fsslogan { font-size: 10px; }
  .hbgm { height: 400px; }
  .under-txt { font-size: 13px; }
  .hydro-txt { font-size: 35px; letter-spacing: 2px }
  .line-txt{
    height: 2px;
    background-color: white;
    border-radius: 5px;
    width: 70%;
    margin: 10px auto ;
  }
  #formContact { width: 90% !important; }
  #btn-send{ width: 50%; }
}

@media only screen and (min-width: 1000px){
  .logo-hydroshare { width: 20%; }
  .w50 { width: 50%; }
  .hbgm { height: 600px; }
  .under-txt { font-size: 20px; }
  .hydro-txt { font-size: 50px; letter-spacing: 2px }
  .line-txt{
    height: 2px;
    background-color: white;
    border-radius: 5px;
    width: 30%;
    margin: 10px auto ;
  }
  #formContact { width: 50% !important; }
  #btn-send{ width: 25%; }
}
.h600 { height: 600px; }
.cp:hover { cursor: pointer; }
.r0 { right: 0; }

.nav-link { padding: 15px !important; }

#bgm { 
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#slogan {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px black;
}

#menuBar {
    z-index: 3;
}
.bgca05 { background-color: rgba(0,0,0,0.5); }
.cp { cursor: pointer; }
.trans05 { transition: 0.5s; }
.bgf { background: #fff; }
.ui-datepicker-calendar { display: none; }​

